<div id="receiver_pane">
  <%= render :partial => "pane_left" %>
  <div class="pane_middle">
    <% if @page == :who_we_are %>
      <%= render :partial => "who_we_are" %>
    <% else %>
      <%= render :partial => "our_partners" %>
    <% end %>
  </div>
  <%= render :partial => "pane_right", :locals => { :active_link => @page } %>
  <div class="clear" ></div>
</div>
