<div id="receiver_pane">
  <%= render :partial => "pane_left" %>
  <div class="pane_middle">
    <h3>Contact Us</h3>
      <p>Address: 3F, 49 Zhichun Rd. Haidian Dist.<b/>Beijing, 100190</p>
	  <p>Email: goodswill@gmail.com</p>
    <p>Or you can use the following contact form: </p>
    <%= render :partial => 'receiver_form' %>
    <%= link_to "Cancel", receivers_path(:page => "our_partners") %>
  </div>
  [<%= render :partial => "pane_right", :locals => { :active_link => :contact_us } %>]
  <div class="clear"></div>
</div>
