<div id="receiver_pane">
  <%= render :partial => "pane_left" %>
  <div class="pane_middle">
    <%= render :partial => 'receiver_form' %>
    <%= link_to "Cancel", receivers_path(:page => "our_partners") %>
  </div>
  <%= render :partial => "pane_right", :locals => { :active_link => :contact_us } %>
  <div class="clear"></div>
</div>
