<div id="receiver_pane">
  <%= render :partial => "pane_left" %>
  <div class="pane_middle">
    <h3>Contact Us</h3>
	<p>For general inquiry, please email us at <br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;goodswill@gmail.com</p>
	<p> Our address is<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3F, 49 Zhichun Rd. Haidian Dist. <br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Beijing, 100190</p>
    <p>If you represent an organization and want to work with us, please use the contact form:</p>
    <%= render :partial => 'receiver_form' %>
    <br/>
  </div>
  <%= render :partial => "pane_right", :locals => { :active_link => :contact_us } %>
  <div class="clear"></div>
</div>
