<h3>Drop off</h3>
<p>
The best way to donate to us is to drop off at our donation box. Currently we have one located in the lobby of Sigma building. If you don't need to track your donation, just pack your items and put them in the box. If you want to track, you need to follow the following steps:
<ol>
<li>Register your items using the "Donate now" link to the right and get a tracking number.</li>
<li>Fill in a tracking form at the donation box, including your contact information and the tracking number.</li>
<li>Attach the tracking form to the donation and drop them in the box.</li>
</ol>
Afterward, you can track the status of your donation using the "Track donation" link to the right.
</p>
<h3>Pick up</h3>
<p>If it's incovenient for you to drop off your items, we can also pick up. You need to register your items as we mentioned earlier and check "I need pick-up" in the form. After that we will contact you and arrange pick-up. 
</p>
<p>
It's especially helpful if you could clearly describe what you need to pick up and even take pictures, so that we can plan the transportation and avoid taking things we can't deal with. Due to the cost of this service, we have to accumulate enough requests and process them together. There can be a long waiting time. We thank you for the patience.
</p>