<h3>What we accept</h3>
<p>
Goodswill accepts high quality goods that you no longer require.  Please ensure all your donated goods are clean and of good condition.  Our aim is to distribute quality items that not only meet the needs of the people we are helping, but also show the recipient that they are cared about and valued.  The key word to remember when sorting your items for donation is DIGNITY.  If it is something you feel embarrassed to give to your friends, it is not something suitable. For clothing donations, please make sure they are in good condition (no torn or discoloration).  Used clothes should be washed, and we don't take underwear or socks.
</p>

<p>
Sometimes our recipients send us a list of what they need. If you are short of donation ideas, feel free to check them out.
</p>

<ul>
  <li><%= link_to "Migrant Children's Foundation", "/files/list_of_items_for_mcf.pdf" %></li>
<li><a href="http://www.hopefosterhome.com/needs.htm" target="_blank">New Hope Foundation</a></li>
</ul>

<p>
Don¡¯t worry if you cannot find the exact match on the list.  Our recipients also accept things that are similar or outside the list.  We will do our best to find other organizations that can utilize whatever you donate.
</p>

