<h3>Where items go</h3>
<p>
Once your donations are received, we will process them in the following order.
</p>

<p>
First, we check if the items meet our quality standard. We will disposed all substandard items by default, unless you specify us to return to you at the time of your donation.
</p>

<p>
Second, we assign donation items to our recipients based on their needs. 
</p>

<p>
Third, for items which do not fit our recipients&#39; needs, we try to sell them on BBS or other C2C platform. The money sold will be donated to our recipients.
</p>

<p>
Finally, if the items can't be sold, we transfer them to other charity stores, such as Roundabout.
</p>

<p>
The process can be summarized in the following diagram.
</p>
<%= image_tag("process.png", :id => "process_image") %>
