<%= render :partial => "shared/admin_head", :locals => { :admin_page_title => "Index of donations for picking up" } %>

<ul>
  <% for donation in @donations %>
    <li><%= "Donation by #{donation.name}" %> [<%= link_to "=>", pick_up_donation_path(donation) %>]</li>
  <% end %>
</ul>
