<h3>Our recipients</h3>
<p>
We work with well-established non-profit organizations to ensure that your donations are used responsively. We have personally engaged with the following organizations, believed in what they do, and trusted them as good new homes for your donations. 
</p>

<h3>Migrant Children’s Foundation</h3>
<p>
The MCF is a non-profit organization that aims to enrich the lives of disadvantaged children in China through volunteering.  MCF volunteers undertake one month support placements at under-resource schools in Beijing, but the focus isn’t only on teaching – it’s about sharing experience, giving time, learning new skills and experiencing life in one of the oldest, most fascinating and fastest-changing countries on earth.  This is what makes MCF unique.
</p><p>
The donation needs from MCF are focused on the following categories:  school furniture, recreational equipment, stationery, children books, clothes & toys. 
</p><p>
You can learn more about this organization by visiting: <a href="http://www.mcfchina.org">http://www.mcfchina.org</a>
</p>
<h3>New Hope Foundation China</h3>
<p>
Dr. Joyce Hill and her husband Robin have a vision to help the local Chinese Children’s Welfare Institutes in the work that they do, caring for abandoned babies.  The Hills do this by providing care and medical treatment for babies with surgically correctable deformities.  These babies are looked after in their own home and are treated as if they were their own children.    They have several units around China.  Each unit is specifically designed to meet the medical needs of the babies as well as being as close to a normal home as possible.  
</p><p>
The donation needs from New Hope Foundation China are focused on baby and medical supplies. Monetary donation is also welcome and can be sent directly to them, please see their website for detail instructions.
</p><p>
You can learn more about this organization by visiting: <a href="http://www.hopefosterhome.com">http://www.hopefosterhome.com</a>
</p>
<h3>Roundabout Charity Store</h3>
<p>
Roundabout is a not-for-profit charity distribution store in Beijing, China.  Roundabouts accept good quality donations and re-distribute to people who need them.  Using donated money and/or money raised from their store sales, they will also purchase large items to those in needs.
</p><p>
We run a very similar model as Roundabout Charity Store.  Currently, we are collaborating with them and contributing high quality donations which do not fit into our recipients to them.
</p><p>
You can learn more about this organization by visiting: <a href="http://roundaboutchina.com">http://roundaboutchina.com</a>
</p>
