<h3>About us</h3>
<p>
We are a group of Microsoft employees in Beijing, China who are passionate in making an impact in the communities around us.  We hope to start locally from the very fundamentals of our daily lives and work our way up to influence others.
</p>
<p>
Our initiative started with Microsoft ARD Seed Grant Program and a simple community outreach idea.  We all have the potential to make an impact in the community whether big or small.  Microsoft ARD launched a Seed Grant Program to help jumpstart Microsoft employees’ community project ideas and turn them into reality.  In August 2010, our team received our first “seed” money with a community proposal called Goodswill.
</p>
<p>
Goodswill mission is enabling a platform to bridge non-monetary donors and charity organization.  For individuals and family who want to donate high quality goods which they no longer require, Goodswill is a one-stop solution that provides a platform for submitting, transporting, and tracking their donations.  Unlike other donation alternatives, we ensure their donation reaches directly and transparently to people who need them but without donors’ hassles and inconvenience. 
</p>

