*{
}

table{
  text-align:center;
  border-collapse: collapse;
}

thead{
  font-weight: bold;
}

h3{
  display: inline;
}

td{
}

td.column_c{
  width: 200px;
}
td.column_q{
  width: 100px;
}
td.column_d{
  width: 200px;
}
td.column_n{
  width: 400px;
}

.signature_right{
  margin-left: 200px;
}

