*{
}

table{
  text-align:center;
  border-collapse: collapse;
}

thead{
  font-weight: bold;
}

td{
  border: solid 1px black;
  height: 40px;
}

td.column_c{
  width: 200px;
}
td.column_q{
  width: 100px;
}
td.column_d{
  width: 200px;
}
td.column_n{
  width: 400px;
}

.signature{
  font-size: 14pt;
}

