*{
  margin: 0;
  padding: 0;
}

body{
  color: #555;
  font: normal 10pt Arial,Helvetica,sans-serif;
}

a {
  text-decoration: none;
  color: #25a;
  font-weight: bold;
}

a:hover {
  color: #ed5;
}

div#page{
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

div#head{
  height: 100px;
  padding-top: 10px;
}

div#main{

}

div#foot{
  height: 100px;
}

div.error_explanation {
  color: red;
  border: solid 2px red;
  padding-left: 10px;
  margin-bottom: 15px;
  background-color: pink;
}

#link_login {
  float: right;
}

#tab_bar ul {
  padding:7px 20px 7px 20px;
  margin-bottom:3px;
}

#tab_bar ul li{
  list-style-type: disc;
  margin-right: 3px;
  display: inline;
}

#tab_bar ul li a{
  color:#ffffed;
  background-color:#5A564F;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  padding: 8px 16px;
}

#tab_bar ul li a:hover, #tab_bar ul li.active_tab a {
  color: #000;
  background-color:#D2C9BB;
  text-decoration:none;
}

