*{
  margin: 0;
  padding: 0;
}

body{
  color: #555;
  font: normal 12pt Segoe UI,Helvetica,sans-serif;
}

p{
  margin: 20px 0;
}

form p{
  margin: 5px 0;
}

img{
  border-style: none;
}

h2, h3, h4{
  color: #ff6633;
  font: normal 18pt Segoe UI light,Helvetica,sans-serif;
}

h2{
  font-size: 28pt;
}

h3{
  font-size: 22pt;
}

h4{
  font-size: 18pt;
}

table{
  text-align:center;
  border-collapse: collapse;
}

thead{
  font-weight: bold;
}

td{
  border: solid 1px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

div#page{
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

div#head{
  height: 100px;
  padding-top: 10px;
}

div#main{

}

div#foot{
  height: 100px;
  text-align: center;
}

div#content_pane_top{
  background: url('../images/content-pane-top.png') no-repeat;
  height: 28px;
}

div#content_pane_middle{
  background: url('../images/content-pane-middle.png') repeat-y;
  height: auto;
  padding: 0px 30px;
}

div#content_pane_bottom{
  background: url('../images/content-pane-bottom.png') no-repeat;
  height: 28px;
}

div.error_explanation {
  border: solid 2px red;
  padding: 10px 10px;
  margin: 15px 0px;
  background-color: #fcc;
}

div.error_explanation *{
  color: black;
}

div.error_explanation li{
  font-size: 14pt;
}

#link_login {
  display: block;
  float: right;
  margin-right: 20px;
}

#tab_bar{
}

#tab_bar ul {
  padding:7px 20px 7px 20px;
  margin-bottom:3px;
}

#tab_bar ul li{
  list-style-type: disc;
  margin-right: 3px;
  display: inline;
}

#tab_bar ul li a{
  color: #8a8a8a;
  font: normal 14pt Segoe UI,Helvetica,sans-serif;
  text-decoration:none;
  padding: 5px 16px;
}

#tab_bar ul li a:hover, #tab_bar ul li.active_tab a {
  color: #000;
}

div#head .donation_button{
  position: relative;
  top: -15px;
  left: 800px;
}

.donation_button{
  width: 210px;
  height: 40px;
  margin: 10px 0px;
  background: #f63;
}

.donation_button a{
  padding: 0px 26px;
  color: white;
  text-align: center;
  font: normal 20pt Segoe UI light, Helvetica,sans-serif;
}

.donation_button a:hover{
  text-decoration: none;
}

input.button{
  font: normal 14pt Segoe UI, Helvetica,sans-serif;
  color: #555;
  border: solid 1px;
  border-color: #ddd #777 #777 #ddd;
  background: #eee;
  padding: 0 25px;
}

input.upload_file_select{
  height: 20px;
}

div#home_top{
  height: 350px;
  padding-top: 10px;
}

div#home_introduction{
  width: 220px;
  margin-right: 10px;
  margin-left: 10px;
  float:left;
}

div#home_picture{
  float:right;
}

div#home_bottom{
}

div#home_bottom h3{
  margin-bottom: 10px;
}

.home_vertical_pane {
  padding-left: 10px;
  padding-bottom: 5px;
  float:left;
  height: 620px;
  width: 28%;
  text-align: justify;
}

div#home_donation{
  margin-right: 40px;
  padding-right: 15px;
}

div#home_receiver{
  margin-right: 40px;
  padding-right: 15px;
}

div#home_receiver ul{
  padding-left: 15px;
}

div#home_news{
}

div#home_news ul{
}

div#home_news ul li{
  list-style-type: none;
  margin-bottom: 0px;

}

div#home_news ul p{
  margin: 5px 0px 25px 0;
}

.more_link{
  padding-top: 20px;
  padding-right: 15px;
  float:right;
}

div#receiver_pane, div#donation_pane{
  height: auto;
}

div#donation_pane ul{
  margin-left: 15px;
}

.pane_left {
  width: 25%;
  margin: 0 5px;
  float: left;
}

.pane_middle {
  width: 50%;
  float: left;
  padding-right: 20px;
  border-right: solid #ddd 1px;
}

.pane_middle ol, .pane_middle ul{
  margin: 20px 0 20px 40px;
  font-size: 10pt;
}
.pane_middle ol{
  margin: 10px 20px;
 }

.pane_middle ol .donation_index_list{
  font-size: 14pt;
  margin: 2px 0;
}

.pane_right {
  width: 20%;
  float: left;
}

.pane_right ul{
  margin-top: 20px;
  margin-left: 0px;
}

.pane_right ul li, div#admin_pane_left ul li{ 
  list-style-type: none;
  font-size: 14pt;
  margin: 3px 0;
}

.pane_right ul li a, div#admin_pane_left ul li a{
  display: block;
  color: #4b4b4b;
  padding: 5px 20px;
  width: 150px;
}

.pane_right ul li a:hover, .pane_right ul li a.side_active_link, div#admin_pane_left ul li a:hover, div#admin_pane_left ul li a.admin_active_link {
  color: #222;
  font-weight: bold;
}

.item_section {
  padding: 5px 0px;
  margin: 5px 0;
}

.form_label{
}

.form_label_note{
}

.form_text_field{
  width: 300px;
  height: 20px;
}

.form_text_area{
  width: 300px;
  height: 80px;
}

.form_news_content{
  width: 500px;
  height: 600px;
}

.form_news_title{
  width: 500px;
  height: 20px;
  margin-bottom: 10px;
}

.item_head{
  margin: 0 80px;
  text-align: center;
}

.item_field_c{
  width: 280px;
  height: 20px;
}

.item_field_q{
  width: 90px;
  height: 20px;
}

.item_image{
  max-width: 450px;
  border: solid 1px #aaa;
  margin: 5px 0px;
}

.column_c{
  width: 300px;
}

.column_q{
  width: 100px;
}

.column_d{
  width: 200px;
}

.donation_item, .donation_image{
  margin: 5px 0;
}

.clear{
  clear: both;
}

.image_link{
  margin: 0px 10px;
}

.comment_content{
}

.comment_tag{
  color: #aaa;
  font-size: 14px;
}

div#login_pane{
  margin: 0px 20px;
}

div#user_pane{
  margin: 0px 20px;
}

div#user_pane ul{
  margin: 10px 40px
}

.field_with_errors {
  display: inline;
}

.field_with_errors *{
  background: pink;
}

div#news_pane_left{
  width: 35%;
  float: left;
  border-right: solid 1px #ddd;
  margin-right: 30px;
  padding-bottom: 50px;
}

div#news_pane_left ul{
  margin: 0px 20px;
}

div#news_pane_left ul li{
  font-size: 20px;
  margin: 10px 10px 0 0;
}

div#news_pane_right{
  width: 60%;
  float: left;
}

div#news_pane #news_section h3{
  text-align: center;
}

div#news_title{
  text-align: center;
  margin-bottom: 20px;
}

div#news_conte48nt{
  text-align: justify;
}

div#news_create_pane{
  margin: 0px 10px;
}

.selected_news{
  font-weight: bold;
}

div#admin_pane_left{
  float:left;
  width:15%;
  border-right: solid 1px #ddd;
}

div#admin_pane_right{
  float:left;
  width:65%;
  margin-left: 20px;
}

div#admin_pane_right img{
  max-width: 750px;
  border: solid 1px gray;
}

div#admin_pane_left ul li a{
  width:80px
}

div#admin_pane_right ol{
  margin: 20px 0 0 30px;
}

div#admin_pane_right ol li{
  font-size: 14pt;
  margin: 5px 0;
}

#process_image
{
  max-width: 480px
}
