*{
  margin: 0;
  padding: 0;
}

body{
  color: #555;
  font: normal 12pt Segoe UI,Helvetica,sans-serif;
}

p{
  margin: 20px 0;
}

form p{
  margin: 5px 0;
}

img{
  border-style: none;
}

h2{
  color: #ff6633;
  font-size: 38px;
}

h3{
  color: #ff6633;
  font-size: 18px;
}

table{
  text-align:center;
  border-collapse: collapse;
}

thead{
  font-weight: bold;
}

td{
  border: solid 1px;
}

a {
  text-decoration: none;
  color: #25a;
  font-weight: bold;
}

a:hover {
  color: #ed5;
}

div#page{
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

div#head{
  height: 100px;
  padding-top: 10px;
}

div#main{

}

div#foot{
  height: 100px;
  text-align: center;
}

div#content_pane_top{
  background: url('../images/content-pane-top.png') no-repeat;
  height: 28px;
}

div#content_pane_middle{
  background: url('../images/content-pane-middle.png') repeat-y;
  height: auto;
  padding: 0px 30px;
}

div#content_pane_bottom{
  background: url('../images/content-pane-bottom.png') no-repeat;
  height: 28px;
}

div.error_explanation {
  color: red;
  border: solid 2px red;
  padding-left: 10px;
  margin-bottom: 15px;
  background-color: pink;
}

#link_login {
  display: block;
  float: right;
  margin-right: 20px;
}

#tab_bar{
}

#tab_bar ul {
  padding:7px 20px 7px 20px;
  margin-bottom:3px;
}

#tab_bar ul li{
  list-style-type: disc;
  margin-right: 3px;
  display: inline;
}

#tab_bar ul li a{
  margin: 0 2px;
  color: white;
  background-color:#ff6633;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  padding: 8px 16px;
}

#tab_bar ul li a:hover, #tab_bar ul li.active_tab a {
  color: #4b4b4b;
  background-color:#efefe7;
  text-decoration:none;
}

div#head .donation_button{
  position: relative;
  top: -15px;
  left: 800px;
}

.donation_button{
  background: url('../images/donation-button.png') no-repeat;
  width: 210px;
  height: 40px;
  margin: 10px 0px;
}

.donation_button a{
  padding: 20px 105px;
}

div#home_top{
  height: 350px;
  padding-top: 10px;
}

div#home_introduction{
  width: 220px;
  margin-right: 10px;
  margin-left: 10px;
  float:left;
}

div#home_picture{
  float:right;
}

div#home_bottom{
}

div#home_bottom h3{
  margin-bottom: 10px;
}

.home_vertical_pane {
  padding-left: 10px;
  padding-bottom: 5px;
  float:left;
  height: 620px;
  width: 31%;
  background: #eee;
}

div#home_donation{
  margin-right: 8px;
}

div#home_receiver{
  margin-right: 8px;
  padding-right: 10px;
}

div#home_receiver ul{
  padding-left: 15px;
  font-weight: bold;
}

div#home_news{
}

div#home_news ul{
  margin-left: 15px;
}

.more_link{
  padding-top: 20px;
  padding-right: 15px;
  float:right;
}

div#receiver_pane{
  height: auto;
}

.pane_left {
  width: 25%;
  margin: 0 5px;
  float: left;
}

.pane_middle {
  width: 50%;
  float: left;
}

.pane_right {
  width: 22%;
  float: left;
}

.pane_right ul li{
  list-style-type: none;
  margin: 3px 0;
}

.pane_right ul{
  margin-top: 20px;
  margin-left: 20px;
}

.pane_right ul li a {
  display: block;
  padding: 5px 20px;
  width: 150px;
  background: #eea;
}

.pane_right ul li a:hover, .pane_right ul li a.side_active_link {
  background: #aa2;
  color: #fff;
}

.item_section {
  padding: 5px 10px;
  margin: 5px 0;
}

.form_label{
  font-weight: bold;
}

.form_label_note{
}

.form_text_field{
  width: 300px;
  height: 20px;
}

.form_text_area{
  width: 300px;
  height: 80px;
}

.form_text_field_small{
  width: 150px;
  height: 20px
}

.form_text_field_tiny{
  width: 50px;
  height: 20px
}

.donation_item, .donation_image{
  margin: 5px 0;
}

.clear{
  clear: both;
}

.image_link{
  margin: 0px 10px;
}

.comment_content{
}

.comment_tag{
  color: #aaa;
  font-size: 14px;
}
