<h3>Donated items</h3>
<br/>
<table> 
  <thead>
    <tr> 
      <td class="column_c">Category</td>
      <td class="column_q">Quantity</td>
      <td class="column_d">Donated to</td>
    </tr>
  </thead>
  <tbody>
    <% for item in @donation.items %>
      <tr> 
        <td><%= h item.category %></td>
        <td><%= h item.quantity %></td>
        <td><%= h item.delivery.receiver.name if item.delivery%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
