<h3>Donated items</h3>
<table> 
  <thead>
    <tr style="text-align:center;font-weight:bold;border:solid 1px">
      <td style="width: 150px">Category</td>
      <td style="width: 150px">Quantity</td>
      <td style="width: 150px">Unit</td>
    </tr>
  </thead>
  <tbody>
    <% for item in @donation.items %>
      <tr> 
        <td style="border:solid 1px"><%= h item.category %></td>
        <td style="border:solid 1px"><%= h item.quantity %></td>
        <td style="border:solid 1px"><%= h item.unit%></td>
      </tr>
    <% end %>
  </tbody>
</table>
