<% if not @donation.comments.empty? %>
<h3>Comments of this donation</h3>
<div id="donation_comments_section">
  <% for comment in @donation.comments %>
    <p>
      <span class="comment_content"><%= comment.comment %></span>
      <% if authenticated %>
        [<%= link_to('X', donation_comment_path(@donation, comment), :method => :delete, :confirm => "Are you sure?") %>]
      <% end %>
      <br/>
      <span class="comment_tag"><%= "posted at #{comment.created_at.to_s}" %></span>
    </p>
  <% end %>
</div>
<% end %>
