<h3>Images of donation</h3>
<div id="donation_images_section">
  <% for image in @donation.images %>
    <%= image.description %>
    <img alt="<%= image.description %>" src="<%= donation_image_path(image) %>"/>
  <% end %>
</div>
