<%= render :partial => "shared/admin_head", :locals => { :admin_page_title => get_index_page_title(params[:s]) } %>
<ul>
  <% for d in @deliveries %>
    <li>Delivery to <%= d.receiver.name %> [<%= link_to "=>", delivery_path(:id => d.id) %>]</li>
  <% end %>
</ul>
