<h2>Goodswill Donation Receipt</h2>

<h3>To: </h3><span><%= @delivery.receiver.name %></span><br/><br/>
<table>
  <thead>
    <tr>
      <td class="column_c">Category</td>
      <td class="column_q">Quantity</td>
      <td class="column_n">Note</td>
    </tr>
  </thead>
  <tbody>
  <% for i in @delivery.items %>
    <tr>
      <td><%= i.category %></td>
      <td><%= i.quantity %></td>
      <td></td>
    </tr>
  <% end %>
  <tbody>
</table>

<br/>
<br/>
<br/>
<br/>
<div class="signature">
<p>
<span>Goodswill Signature & Date:</span>
<span class="signature_right">Recipient Signature & Date:</span>
</p>
<br/>
<p>
<span>______________________</span>
<span class="signature_right">______________________</span>
</p>
</div>
