<div class="donation_image">
  <%= df.fields_for :images, image do |i| %>
    <%= i.file_field :image_data %>
    <%= link_to_function "[-]", "$(this).up('.donation_image').remove()" %>
  <% end %>
</div>

