<div class="donation_item">
  <%= df.fields_for :items, item do |i| %>
    <%= i.text_field :category, :class => "item_field_c" %>
    <%= i.number_field :quantity, :class => "item_field_q" %>
    <%= link_to_function "[-]", "$(this).up('.donation_item').remove()" %>
  <% end %>
</div>
