<div id="login_pane">
  <h3>Login (for administrators only)</h3>
  <br/>

  <%= form_for :user do |f| %>
    <p>
      <label class="form_label">Email</label><br/>
      <%= f.email_field :email, :class => "form_text_field" %>
    </p>
      <p><label class="form_label">Password</label><br/>
      <%= f.password_field :password, :class => "form_text_field" %>
    </p>
    <%= submit_tag "Log in" %>
  <% end %>
</div>
