<%= render :partial => "shared/admin_head", :locals => { :admin_page_title => "Index of donations for sorting" } %>

<ul>
<% for d in @donations %>
  <li>Donation by <%= d.name %> [<%= link_to "=>", sort_donation_path(d) %>]</li>
<% end %>
</ul>
