<%= render :partial => "shared/admin_pane_left", :locals => { :active_link => :sort } %>
<div id="admin_pane_right">
  <h3>Donations to sort</h3>
  <ol>
  <% for d in @donations %>
    <li><%= link_to "Donation by #{d.name}", sort_donation_path(d) %></li>
  <% end %>
  </ol>
</div>
